{% extends 'base.html.twig' %}

{% block title %}Error 500 - La Boutique Francaise{% endblock %}

{% block content %}
    <div class="block-small">
        <h2>Error 500</h2>
        <p>something went wrong.</p>
        <a href="{{ path('home') }}" class="btn btn-info">Revenir a l'acceuil</a>
    </div>
{% endblock %}
